/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: "Spline Sans Mono", sans-serif;
}

html, body {
  height: 100%;
}
